@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

body {
  font-family: 'Nunito', sans-serif;
  font-size: 1.5rem;
}

input[type="text"], button {
  font: inherit;
}

main {
  margin: auto;
  max-width: 600px;
}

h1 {
  margin-bottom: 0.5rem;
}

article {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid hsl(0, 0%, 58%);
}

.todo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

input[type="checkbox"] {
  min-width: 30px;
  min-height: 30px;
  margin-right: 1rem;
}

button {
  min-width: 50px;
  min-height: 50px;
  border: 1px solid #333;
  border-radius: 10%;
  cursor: pointer;
}

.trash {
  background-color: #fff;
  color: mediumvioletred;
}

.trash:focus, .trash:hover {
  filter:brightness(120%)
}

form {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #333;
  margin-bottom: 1rem;
}

form label {
  position: absolute;
  left: -10000px;
}

.new-todo {
  width: 100%;
  padding-right: 30px;
}

input[type="text"] {
  width: 100%;
  padding: 0.5rem;
  border-radius: 10px;
  border: 0.5px solid #333;
}

.submit {
  background-color: gray;
  color: #fff;
}

.submit:focus, .submit:hover {
  background-color: limegreen;
}

 

/* CSS */
.btn {
  color: #fff;
  padding: 15px 25px;
  background-color: #38D2D2;
  background-image: radial-gradient(93% 87% at 87% 89%, rgba(0, 0, 0, 0.23) 0%, transparent 86.18%), radial-gradient(66% 66% at 26% 20%, rgba(255, 255, 255, 0.55) 0%, rgba(255, 255, 255, 0) 69.79%, rgba(255, 255, 255, 0) 100%);
  box-shadow: inset -3px -3px 9px rgba(255, 255, 255, 0.25), inset 0px 3px 9px rgba(255, 255, 255, 0.3), inset 0px 1px 1px rgba(255, 255, 255, 0.6), inset 0px -8px 36px rgba(0, 0, 0, 0.3), inset 0px 1px 5px rgba(255, 255, 255, 0.6), 2px 19px 31px rgba(0, 0, 0, 0.2);
  border-radius: 14px;
  font-weight: bold;
  font-size: 16px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
cursor: pointer;

}